.hero-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero-text {
  text-align: center;
}
.hero-text1 {
  text-align: center;
}
.hero-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.hero-row-container {
  width: 100%;
}
.hero-strip {
  align-items: center;
  justify-content: flex-start;
}
.hero-image {
  width: 462px;
  height: 389px;
  object-fit: cover;
}
.hero-image01 {
  width: 404px;
  height: 388px;
  object-fit: cover;
}
.hero-image02 {
  width: 263px;
  height: 408px;
  object-fit: cover;
}
.hero-image03 {
  width: 387px;
  height: 397px;
  object-fit: cover;
}
.hero-image04 {
  width: 276px;
  height: 402px;
  object-fit: cover;
}
.hero-placeholder-image {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image01 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image02 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image03 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image04 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image05 {
  width: 400px;
  height: 400px;
}
.hero-row-container1 {
  width: 100%;
}
.hero-strip2 {
  align-items: center;
  justify-content: flex-start;
}
.hero-image05 {
  width: 279px;
  height: 382px;
  object-fit: cover;
}
.hero-image06 {
  width: 339px;
  height: 382px;
  object-fit: cover;
}
.hero-image07 {
  width: 296px;
  height: 410px;
  object-fit: cover;
}
.hero-image08 {
  width: 307px;
  height: 396px;
  object-fit: cover;
}
.hero-image09 {
  width: 356px;
  height: 381px;
  object-fit: cover;
}
.hero-placeholder-image06 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image07 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image08 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image09 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image10 {
  width: 400px;
  height: 400px;
}
.hero-placeholder-image11 {
  width: 400px;
  height: 400px;
}
.hero-container1 {
  display: contents;
}
@media(max-width: 767px) {
  .hero-content1 {
    width: 100%;
  }
}
